
body{
  
}

header{
  text-align: center;
}
footer {
  
}
h1 {
    font-size: 32px;
    color: #2c3e50;  /* Bleu */
}
h2 {
    font-size: 1.5em; 
    color: #16a085;  /* vert */
}

p {
  font-size: 1rem; 
}

  a {
    color: #2980b9;/* Bleu */
    text-decoration: none;
}

a:hover {
    color: #e74c3c;/* Orange*/
    text-decoration: underline
}
  
